* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 945px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.flex {
  display: flex;
}

#root {
  font-family: "Inter", sans-serif;
}
